body
{
	margin-top:40px;
	margin-left:80px;
	background-image: url("image.gif");
}
input,textarea,button
{
	margin-left:70px;
	
}
label
{
	font-size:20px;
	color:blue;
}
.id,.value,.sen
{
	margin-left:130px;
	
}
fieldset
{
	margin-left: 300px;
    margin-right: 350px;
}
.submit,.reset
{
	margin-left:150px;
}
fieldset
{
	background-color:grey;
}
